
/*=============== FOOTER ===============*/
/* .footer {
    background-color:var(--main-blue);
}

.footer__container {
    padding: 2rem 0 6rem;
}
.footerup
{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
}
.content-footer{
    padding: 1rem;
}
.footer__link,
.footer__title {
    color: var(--body-color);
}

.footer__title {
    text-align: center;
}

.footer__list {
    display: grid;
    gap: 10px;
    text-align: center;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}
.footer hr
{
    margin:3rem 3rem 1rem 3rem;

}
.footerbottom{
    display:flex;
    justify-content: space-between;
    margin-left: 5.5rem;
    margin-right: 5rem;
    margin-bottom: 0rem;
}
.footer__socials {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    background-color: var(--body-color);
    color: var(--first-color);
    font-size: 1rem;
    padding: 0.25rem;
    display: flex;
    border-radius: .25rem;

}

.footer__copy {
    display: block;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}  */


.site-footer {
    background-color: #00a6fb;
}
.site-footer hr {
    color: black;
}
.site-footer h2{
    color:black;
    text-align: left;
    margin-bottom: 1rem;
}
.rows
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-between;
    gap:0.5rem;
    padding: 10px;
}

.footer-about{
    padding: 10px;
}

.bottom{
    padding: 15px 2rem 15px 2rem;
    display: flex;
    justify-content: space-between;
}

.footer__social-link i
{
    font-size: 25px;
}

.socials ul
{
    display: flex;
    gap:2rem;
}

.footer-links-l
{
    display: grid;
    gap:0.5rem
}

.footer-links-l a
{
    color: black;
    transition: all ease-in-out 0.2s;
}
.footer-links-l a:hover
{
    color:blue;
}